<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset=utf-8>
    <link href="https://fonts.googleapis.com/css?family=Rethink+Sans&display=swap" rel="stylesheet" />
    {% load static %}
    <link href="{%static 'atlFoodFinder/main2.css' %}" rel="stylesheet" />
    <title>Login - ATL Food Finder</title>
</head>
<body>
<div class="v1_31">
    <div class="v25_64"></div>
    <div class="v1_32"></div>
    <div class="v1_33"></div>
    <div class="v1_35"></div>
    <span class="v1_36">LOG IN</span>
    <span class="v1_37">Username/Email:</span>
    <span class="v1_38">Password:</span>
    <span class="v1_39">LOG IN</span>
</div>
</body>
</html>