
body {
  font-size: 14px;
  font-family: "Rethink Sans";
  display: flex;
  align-items: center;
}


.v1_4 {
  width: 100%;
  height: 100%;
  background: rgba(255,253,253,1);
  opacity: 1;
  top: 0;
  left: 0;
  overflow: hidden;
  align-self: center;
}
.v1_5 {
  width: 420px;
  height: 95px;
  background: rgba(255,232,243,1);
  opacity: 1;
  position: absolute;
  top: 435px;
  left: 640px;
  border: 1px solid rgba(0,0,0,1);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
}

.v1_5:hover {
  color: deeppink
}

.v1_7 {
  width: 809px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 281px;
  left: 445px;
  font-weight: Bolder;
  font-size: 64px;
  opacity: 1;
  text-align: center;
  font-style: italic;
}
.v1_8 {
  width: 315px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 243px;
  left: 692px;
  font-weight: Bold;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v1_9 {
  width: 343px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 368px;
  left: 678px;
  font-size: 23px;
  opacity: 1;
  text-align: center;
}
.v1_10 {
  width: 343px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 460px;
  left: 678px;
  font-weight: Bold;
  font-size: 34px;
  opacity: 1;
  text-align: center;
}
.v1_10:hover {
  color: gray
}

.v1_11 {
  width: 289px;
  color: rgba(251,135,191,1);
  position: absolute;
  top: 553px;
  left: 705px;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  text-decoration: underline;

}

.v1_11:hover {
  color: deeppink
}

