<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>

</head>
<body>
    <div class="SettingsProfilePage" style="width: 1440px; height: 1024px; position: relative; background: #F9F9F9">
  <div class="Rectangle1072" style="width: 52px; height: 52px; left: 1361px; top: 59px; position: absolute; background: #D9D9D9; border-radius: 10px"></div>
  <div class="Group77" style="width: 52px; height: 52px; left: 1289px; top: 59px; position: absolute">
    <div class="Rectangle1076" style="width: 52px; height: 52px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 10px"></div>
    <div class="VuesaxLinearNotificationBing" style="width: 24px; height: 24px; left: 14px; top: 14px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
      <div class="NotificationBing" style="width: 24px; height: 24px; position: relative">
        <div class="Vector" style="width: 0px; height: 3.33px; left: 12px; top: 6.44px; position: absolute; border: 1.50px #ADA7A7 solid"></div>
        <div class="Vector" style="width: 17.81px; height: 17.60px; left: 3.10px; top: 2px; position: absolute; border: 1.50px #ADA7A7 solid"></div>
        <div class="Vector" style="width: 6.66px; height: 3.33px; left: 8.67px; top: 18.82px; position: absolute; border: 1.50px #ADA7A7 solid"></div>
        <div class="Vector" style="width: 24px; height: 24px; left: 0px; top: 0px; position: absolute; opacity: 0"></div>
      </div>
    </div>
  </div>
  <div class="Group74" style="width: 180px; height: 72px; left: 131px; top: 49px; position: absolute">
    <div class="WelcomeUser" style="left: 0px; top: 0px; position: absolute; color: #3E435D; font-size: 24px; font-family: Poppins; font-weight: 500; word-wrap: break-word">Welcome, User</div>
    <div class="Thursday12Sept2024" style="left: 0px; top: 48px; position: absolute; color: #ADA7A7; font-size: 16px; font-family: Poppins; font-weight: 300; word-wrap: break-word">Thursday, 12 Sept 2024</div>
  </div>
  <div class="Group47735" style="width: 354px; height: 52px; left: 915px; top: 59px; position: absolute">
    <div class="Rectangle1072" style="width: 354px; height: 52px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 8px"></div>
    <div class="VuesaxLinearSearchNormal" style="width: 24px; height: 24px; left: 20px; top: 14px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
      <div class="SearchNormal" style="width: 24px; height: 24px; position: relative">
        <div class="Vector" style="width: 19px; height: 19px; left: 2px; top: 2px; position: absolute; border: 1.50px #ADA7A7 solid"></div>
        <div class="Vector" style="width: 2px; height: 2px; left: 20px; top: 20px; position: absolute; border: 1.50px #ADA7A7 solid"></div>
        <div class="Vector" style="width: 24px; height: 24px; left: 0px; top: 0px; position: absolute; opacity: 0"></div>
      </div>
    </div>
    <div class="Search" style="left: 60px; top: 14px; position: absolute; color: #ADA7A7; font-size: 16px; font-family: Poppins; font-weight: 400; word-wrap: break-word">Search</div>
  </div>
  <div class="Rectangle6618" style="width: 78px; height: 1024px; left: 13px; top: -26px; position: absolute; background: white"></div>
  <div class="Heart" style="width: 24px; height: 24px; left: 41px; top: 293px; position: absolute; opacity: 0.20; justify-content: center; align-items: center; display: inline-flex">
    <div class="Heart" style="width: 24px; height: 24px; position: relative">
      <div class="Vector" style="width: 20px; height: 17.80px; left: 2px; top: 3.10px; position: absolute; border: 1.50px #292D32 solid"></div>
      <div class="Vector" style="width: 24px; height: 24px; left: 0px; top: 0px; position: absolute; opacity: 0"></div>
    </div>
  </div>
  <div class="Rectangle6619" style="width: 87px; height: 56px; left: 4px; top: 379px; position: absolute; opacity: 0.20; background: linear-gradient(270deg, rgba(65, 130, 249, 0.50) 100%, rgba(65, 130, 249, 0.01) 100%)"></div>
  <div class="VuesaxLinearElement4" style="width: 24px; height: 24px; left: 40px; top: 193px; position: absolute; opacity: 0.20; justify-content: center; align-items: center; display: inline-flex">
    <div class="Element4" style="width: 24px; height: 24px; position: relative">
      <div class="Vector" style="width: 8.50px; height: 11px; left: 13.50px; top: 2px; position: absolute; background: #292D32"></div>
      <div class="Vector" style="width: 8.50px; height: 6px; left: 13.50px; top: 16px; position: absolute; background: #292D32"></div>
      <div class="Vector" style="width: 8.50px; height: 11px; left: 2px; top: 11px; position: absolute; background: #292D32"></div>
      <div class="Vector" style="width: 8.50px; height: 6px; left: 2px; top: 2px; position: absolute; background: #292D32"></div>
      <div class="Vector" style="width: 24px; height: 24px; left: 0px; top: 0px; position: absolute; opacity: 0"></div>
    </div>
  </div>
  <div class="VuesaxLinearMessages" style="width: 24px; height: 24px; left: 41px; top: 341px; position: absolute; opacity: 0.20; justify-content: center; align-items: center; display: inline-flex">
    <div class="Messages" style="width: 24px; height: 24px; position: relative">
      <div class="Vector" style="width: 15.98px; height: 16.03px; left: 2px; top: 6px; position: absolute; border: 1.50px #292D32 solid"></div>
      <div class="Vector" style="width: 15.94px; height: 13.54px; left: 6.04px; top: 2px; position: absolute; border: 1.50px #292D32 solid"></div>
      <div class="Vector" style="width: 24px; height: 24px; left: 0px; top: 0px; position: absolute; opacity: 0"></div>
      <div class="Vector" style="width: 1px; height: 1px; left: 13px; top: 12.75px; position: absolute; border: 2px #292D32 solid"></div>
      <div class="Vector" style="width: 1px; height: 1px; left: 9.50px; top: 12.75px; position: absolute; border: 2px #292D32 solid"></div>
      <div class="Vector" style="width: 1px; height: 1px; left: 6px; top: 12.75px; position: absolute; border: 2px #292D32 solid"></div>
    </div>
  </div>
  <div class="VuesaxLinearSetting2" style="width: 24px; height: 24px; left: 39px; top: 393px; position: absolute; opacity: 0.20; justify-content: center; align-items: center; display: inline-flex">
    <div class="Setting2" style="width: 24px; height: 24px; position: relative">
      <div class="Vector" style="width: 6px; height: 6px; left: 9px; top: 9px; position: absolute; border: 1.50px #005AFF solid"></div>
      <div class="Vector" style="width: 20.01px; height: 18.88px; left: 2px; top: 2.56px; position: absolute; border: 1.50px #005AFF solid"></div>
      <div class="Vector" style="width: 24px; height: 24px; left: 0px; top: 0px; position: absolute; opacity: 0"></div>
    </div>
  </div>
  <div class="Rectangle6692" style="width: 1282px; height: 856px; left: 131px; top: 153px; position: absolute; background: white; border-radius: 10px"></div>
  <div class="Rectangle6699" style="width: 593px; height: 52px; left: 795px; top: 453px; position: absolute; background: #F9F9F9; border-radius: 8px"></div>
  <div class="FullName" style="left: 163px; top: 417px; position: absolute; opacity: 0.80; color: black; font-size: 16px; font-family: Poppins; font-weight: 400; word-wrap: break-word">Full Name</div>
  <div class="TimeZone" style="left: 795px; top: 413px; position: absolute; opacity: 0.80; color: black; font-size: 16px; font-family: Poppins; font-weight: 400; word-wrap: break-word">Time Zone</div>
  <div class="AreaOfResidence" style="left: 163px; top: 529px; position: absolute; opacity: 0.80; color: black; font-size: 16px; font-family: Poppins; font-weight: 400; word-wrap: break-word">Area of Residence</div>
  <div class="FavoriteCuisines" style="left: 790px; top: 529px; position: absolute; opacity: 0.80; color: black; font-size: 16px; font-family: Poppins; font-weight: 400; word-wrap: break-word">Favorite Cuisines</div>
  <div class="Language" style="left: 163px; top: 641px; position: absolute; opacity: 0.80; color: black; font-size: 16px; font-family: Poppins; font-weight: 400; word-wrap: break-word">Language</div>
  <div class="Rectangle6691" style="width: 1282px; height: 100px; left: 131px; top: 153px; position: absolute; background: linear-gradient(90deg, #FFE9F3 100%, #998C92 100%)"></div>
  <div class="Ellipse11" style="width: 100px; height: 100px; left: 163px; top: 285px; position: absolute; background: #D9D9D9"></div>
  <div class="UserName" style="left: 287px; top: 305px; position: absolute; color: black; font-size: 20px; font-family: Poppins; font-weight: 500; word-wrap: break-word">User Name</div>
  <div class="Changed1MonthAgo" style="left: 166px; top: 839px; position: absolute; opacity: 0.50; color: black; font-size: 16px; font-family: Poppins; font-weight: 400; word-wrap: break-word">Changed 1 month ago</div>
  <div class="Group47736" style="width: 93px; height: 44px; left: 1288px; top: 313px; position: absolute">
    <div class="Rectangle1072" style="width: 93px; height: 44px; left: 0px; top: 0px; position: absolute; background: #4182F9; border-radius: 8px"></div>
    <div class="Edit" style="left: 32px; top: 10px; position: absolute; color: white; font-size: 16px; font-family: Poppins; font-weight: 400; word-wrap: break-word">Edit</div>
  </div>
  <div class="Group239181" style="width: 213px; height: 46px; left: 155px; top: 793px; position: absolute">
    <div class="Rectangle1072" style="width: 213px; height: 46px; left: 0px; top: 0px; position: absolute; opacity: 0.10; background: #4182F9; border-radius: 8px"></div>
    <div class="ChangeMyPassword" style="width: 176.31px; height: 25.09px; left: 19px; top: 10px; position: absolute; color: #4182F9; font-size: 16px; font-family: Poppins; font-weight: 400; word-wrap: break-word">Change My Password</div>
  </div>
  <div class="Rectangle6698" style="width: 593px; height: 52px; left: 163px; top: 453px; position: absolute; background: #F9F9F9; border-radius: 8px"></div>
  <div class="Rectangle6694" style="width: 593px; height: 52px; left: 163px; top: 565px; position: absolute; background: #F9F9F9; border-radius: 8px"></div>
  <div class="Rectangle6700" style="width: 593px; height: 52px; left: 794px; top: 565px; position: absolute; background: #F9F9F9; border-radius: 8px"></div>
  <div class="VuesaxLinearArrowDown" style="width: 24px; height: 24px; left: 712px; top: 579px; position: absolute; opacity: 0.50; justify-content: center; align-items: center; display: inline-flex">
    <div class="ArrowDown" style="width: 24px; height: 24px; position: relative">
      <div class="Vector" style="width: 15.84px; height: 7.10px; left: 4.08px; top: 8.95px; position: absolute; border: 1.50px #292D32 solid"></div>
      <div class="Vector" style="width: 24px; height: 24px; left: 24px; top: 24px; position: absolute; transform: rotate(-180deg); transform-origin: 0 0; opacity: 0"></div>
    </div>
  </div>
  <div class="VuesaxLinearArrowDown" style="width: 24px; height: 24px; left: 1349px; top: 573px; position: absolute; opacity: 0.50; justify-content: center; align-items: center; display: inline-flex">
    <div class="ArrowDown" style="width: 24px; height: 24px; position: relative">
      <div class="Vector" style="width: 15.84px; height: 7.10px; left: 4.08px; top: 8.95px; position: absolute; border: 1.50px #292D32 solid"></div>
      <div class="Vector" style="width: 24px; height: 24px; left: 24px; top: 24px; position: absolute; transform: rotate(-180deg); transform-origin: 0 0; opacity: 0"></div>
    </div>
  </div>
  <div class="VuesaxLinearArrowDown" style="width: 24px; height: 24px; left: 1349px; top: 463px; position: absolute; opacity: 0.50; justify-content: center; align-items: center; display: inline-flex">
    <div class="ArrowDown" style="width: 24px; height: 24px; position: relative">
      <div class="Vector" style="width: 15.84px; height: 7.10px; left: 4.08px; top: 8.95px; position: absolute; border: 1.50px #292D32 solid"></div>
      <div class="Vector" style="width: 24px; height: 24px; left: 24px; top: 24px; position: absolute; transform: rotate(-180deg); transform-origin: 0 0; opacity: 0"></div>
    </div>
  </div>
  <div class="Rectangle6696" style="width: 593px; height: 52px; left: 163px; top: 677px; position: absolute; background: #F9F9F9; border-radius: 8px"></div>
  <div class="YourFirstName" style="left: 183px; top: 467px; position: absolute; opacity: 0.40; color: black; font-size: 16px; font-family: Poppins; font-weight: 400; word-wrap: break-word">Your First Name</div>
  <div class="YourFirstName" style="left: 815px; top: 463px; position: absolute; opacity: 0.40; color: black; font-size: 16px; font-family: Poppins; font-weight: 400; word-wrap: break-word">Your First Name</div>
  <div class="YourFirstName" style="left: 183px; top: 579px; position: absolute; opacity: 0.40; color: black; font-size: 16px; font-family: Poppins; font-weight: 400; word-wrap: break-word">Your First Name</div>
  <div class="YourFirstName" style="left: 810px; top: 577px; position: absolute; opacity: 0.40; color: black; font-size: 16px; font-family: Poppins; font-weight: 400; word-wrap: break-word">Your First Name</div>
  <div class="YourFirstName" style="left: 183px; top: 691px; position: absolute; opacity: 0.40; color: black; font-size: 16px; font-family: Poppins; font-weight: 400; word-wrap: break-word">Your First Name</div>
  <div class="VuesaxLinearArrowDown" style="width: 24px; height: 24px; left: 712px; top: 691px; position: absolute; opacity: 0.50; justify-content: center; align-items: center; display: inline-flex">
    <div class="ArrowDown" style="width: 24px; height: 24px; position: relative">
      <div class="Vector" style="width: 15.84px; height: 7.10px; left: 4.08px; top: 8.95px; position: absolute; border: 1.50px #292D32 solid"></div>
      <div class="Vector" style="width: 24px; height: 24px; left: 24px; top: 24px; position: absolute; transform: rotate(-180deg); transform-origin: 0 0; opacity: 0"></div>
    </div>
  </div>
  <div class="ResetPassword" style="left: 163px; top: 761px; position: absolute; color: black; font-size: 18px; font-family: Poppins; font-weight: 500; word-wrap: break-word">Reset Password</div>
  <div class="SearchNormal" style="width: 24px; height: 24px; left: 42px; top: 241px; position: absolute; opacity: 0.20; justify-content: center; align-items: center; display: inline-flex">
    <div class="SearchNormal" style="width: 24px; height: 24px; position: relative">
      <div class="Vector" style="width: 19px; height: 19px; left: 2px; top: 2px; position: absolute; border: 1.50px #292D32 solid"></div>
      <div class="Vector" style="width: 2px; height: 2px; left: 20px; top: 20px; position: absolute; border: 1.50px #292D32 solid"></div>
      <div class="Vector" style="width: 24px; height: 24px; left: 0px; top: 0px; position: absolute; opacity: 0"></div>
    </div>
  </div>
</div>

</body>
</html>
