<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ATL Food Finder</title>
    <style>
    #map {
      height: 855px;
      width: 100%;
    }
  </style>
</head>
<body>
    <div id="map"></div>
<script>
    function initMap() {
        const options = {
            zoom: 12,
            center: { lat: 33.748783, lng: -84.388168 }
        };
        const map = new google.maps.Map(document.getElementById('map'), options);
    }
</script>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB7AttpSLHhJJi6E2cXg_NFcHLWrmbjg6A&callback=initMap">
</script>

</body>
</html>