<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Rethink+Sans&display=swap" rel="stylesheet" />
    <link href="main.css" rel="stylesheet" />
    <title>Document</title>
</head>

<body>
<div id = "welcome">
<div class="v1_4"><div class="v1_5"></div>
    <span class="v1_7">Atlanta Food Finder</span>
    <span class="v1_8">welcome to the</span>
    <span class="v1_9">Discover. Eat. Repeat.</span>
    <span class="v1_10">LOG IN</span>
    <span class="v1_11">Create Account</span>
</div>
</div>
</body>
</html>